# Created by .ignore support plugin (hsz.mobi)
.idea
.DS_Store

node_modules

log
log.out
nohup.out
logs/*
logs

# phpstorm project files
.idea
vendor

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
