<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Course Detail</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" media="screen" href="section.css" />
</head>

<body>
    <div id="wrapper" class="container" v-cloak>
        <div class="row">
            <div class="col-xs-6">
                <h3>
                    <span v-cloak>{{section.title}}</span>
                    <small v-cloak>
                    《<a v-bind:href="'course.html?c=' + course.id">{{course.title}}</a>》
                </small>
                    <small style="font-size: 13px" v-cloak>{{chapter.title}}</small>
                </h3>
            </div>
            <div class="col-xs-6" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="btn btn-default pull-right" v-on:click="showText = !showText">
                            {{showText ? '隐藏' : '显示'}}任务</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn btn-default pull-right" v-bind:class="{'disabled':savingStatus || testingStatus}" v-on:click="saveFiles()">
                            保存代码</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn btn-default pull-right" v-bind:class="{'disabled':testingStatus || savingStatus}" v-on:click="run()">
                            提交作业</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5" v-show="showText">
                <div id="section-text" v-bind:style="{ height: windowHeight +'px' }" v-html="text"></div>
            </div>
            <div class="col-xs-2" style="padding-right: 0px">
                <!-- the demo root element -->
                <div class="file-tree-wrapper" v-bind:style="{ height: windowHeight +'px' }">
                    <ul style="margin-left:0; padding-left:0; ">
                        <item class="item" :model="f" v-for="f in files" :editing="editingCode" v-on:select="onSelectFile"></item>
                    </ul>
                </div>
            </div>
            <div v-bind:class="{'col-xs-5': showText, 'col-xs-10':!showText}" style="padding-left: 0;margin-right:0;">
                <div id="editor" v-bind:style="{'min-height': windowHeight +'px'}"></div>
            </div>
        </div>
    </div>
    <!-- item template -->
    <script type="text/x-template" id="item-template">
        <li>
            <div class="btn btn-link" :class="{bold: model == editing}" @click="toggle">
                <i class="glyphicon glyphicon-folder-open text-yellow" v-if="isFolder && open"></i>
                <i class="glyphicon glyphicon-folder-close text-yellow" v-if="isFolder && !open"></i>
                <i class="glyphicon glyphicon glyphicon-list-alt text-yellow" v-if="!isFolder"></i>
                <span class="text-white" :class="{'text-active':model == editing}">{{model.name}}</span>
                <span class="text-yellow" v-if="isFolder && !emptyFolder">{{open ? '-' : '+'}}</span>
                <span class="text-danger" v-show="!isFolder && model.hash !== model.hash_new">*</span>
            </div>
            <ul v-show="open" v-if="isFolder">
                <item class="item" v-for="model in model.children" :model="model" :editing="editing" v-on:select="upSelectEvent">
                </item>
            </ul>
        </li>
    </script>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/ace/1.2.6/ace.js"></script>
    <script src="//cdn.bootcss.com/ace/1.2.6/ext-language_tools.js"></script>
    <script src="//cdn.bootcss.com/ace/1.2.6/ext-modelist.js"></script>
    <script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/markdown-it/8.2.2/markdown-it.min.js"></script>
    <script src="node_modules/blueimp-md5/js/md5.min.js"></script>
    <script src="common.js"></script>
    <script src="api.js"></script>
    <script src="tree.js"></script>
    <script src="section.js"></script>
    <script>
        if (!Identity.get() || Identity.isExpired()) {
            alert('请登录后再操作')
            location.href = "login.html"
        } else {
            initPage()
        }
    </script>
</body>

</html>