  html,
  body {
      font-family: 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 100%;
      background-color: ghostwhite;
      padding: 0;
      margin: 0;
  }
  
  .container {
      width: 100%;
      height: 100%;
      padding-right: 1px;
      padding-left: 1px;
  }
  
  .row {
      margin-right: 0;
      margin-left: 0;
  }
  
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
      padding-right: 0;
      padding-left: 0;
  }
  
  [v-cloak] {
      display: none;
  }
  
  button {
      outline: none !important;
  }
  
  #editor {
      width: 100%;
      box-shadow: 0px 0px 1px gray;
  }
  
  #section-text {
      width: 100%;
      background-color: lightyellow;
      padding: 15px;
      border: 1px lightgray solid;
      box-shadow: 0px 0px 30px lightgray;
      overflow: scroll;
  }
  
  .report-err {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
  }
  
  .report-err span {
      font-size: 15px;
      color: darkslategrey
  }
  
  .report-err p {
      display: block;
      padding-left: 20px;
      margin-top: 5px;
      font-size: 13px;
      color: brown
  }
  
  .report-success {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
  }
  
  .report-success span {
      font-size: 15px;
      color: darkslategrey
  }
  
  .report-success p {
      display: inline;
      padding-left: 30px;
      font-size: 13px;
      color: #05a522
  }
  
  .file-tree-wrapper {
      background: rgb(35, 35, 35);
      width: 100%;
      box-shadow: 0px 0px 1px gray;
      overflow: scroll
  }
  
  .file-tree-wrapper .item {
      cursor: pointer;
      font-family: Consolas, monospace;
      color: #444;
  }
  
  .file-tree-wrapper .bold {
      font-weight: bold;
  }
  
  .file-tree-wrapper ul {
      padding-left: 30px;
      line-height: 1.5em;
      list-style-type: none;
  }
  
  .text-white {
      color: white;
  }
  
  .text-yellow {
      color: darkgoldenrod;
  }
  
  .text-active {
      color: greenyellow !important;
  }
  
  .file-tree-wrapper div {
      text-decoration: none !important;
  }